[submodule "cosc4315-hw1"]
	path = cosc4315-hw1
	url = git@github.com:TetroVolt/cosc4315-hw1.git
[submodule "cosc4315-hw2"]
	path = cosc4315-hw2
	url = git@github.com:xylafur/cosc4315-hw2.git
[submodule "cosc4315-hw3"]
	path = cosc4315-hw3
	url = git@github.com:TetroVolt/cosc4315-hw1.git
[submodule "cosc4315-hw4"]
	path = cosc4315-hw4
	url = git@github.com:xylafur/cosc4315-hw2.git
[submodule "cosc4315-extra-credit"]
	path = cosc4315-extra-credit
	url = https://github.com/xylafur/cosc4315-extra-credit.git
